html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #4F4F4F;
}

img {
	border: 0;
}

body {
	background: #F2F2F2;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #4C6FAA;
}

a:hover {
	text-decoration: none;
	color: #990000;
}

.main {
	background: #FFF;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 970px;
}

.submain {
	margin-left: auto;
	margin-right: auto;
}

.banner {
	background: #DBDBDB;
	text-align: center;
	height: 125px;
	color: #F1F1F1;
}

.top {
	background: #CFCFCF;
	height: 30px;
	color: #4F4F4F;
	padding-left: 840px;
	font-size: 11px;
	font-weight: bold;
}

.headercnt {
	font-family: "Mistral", Arial, Helvetica, sans-serif;
	color: #4F4F4F;
	font-size: 42px;
	font-weight: bold;
}

.center {
	background-color: #FFF;
	vertical-align: top;
	text-align: center;
	height: 500px;
	color: #4F4F4F;
	font-size: 12px;
}

.subcenter {
	font-size: 12px;
	color: #4F4F4F;
	margin: 2px;
}

.subcentercnt {
	width: 555px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 12px;
}

.left {
	background: #FFF;
	vertical-align: top;
	height: 500px;
	width: 210px;
	color: #4F4F4F;
	font-size: 12px;
	padding-left: 17px;
}

.right {
	background: #FFF;
	vertical-align: top;
	height: 500px;
	width: 210px;
	color: #4F4F4F;
	font-size: 12px;
	padding-right: 16px;
}

.subleft {
	margin-top: 2px;
	margin-left: 6px;
	margin-right: 2px;
	width: 200px;
	border-bottom: 1px #CECECE solid;
}

.subright {
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 2px;
	width: 200px;
	border-bottom: 1px #CECECE solid;
}

.sublefthdr {
	font-weight: 700;
	height: 26px;
	background: #768EB1 url(../images/subhdr.png) repeat-x;
	text-align: center;
	color: #FFF;
	font-size: 12px;
}

.subrighthdr {
	font-weight: 700;
	height: 26px;
	background: #ADD35C url(../images/subhdr2.png) repeat-x;
	text-align: center;
	color: #FFF;
	font-size: 12px;
}

.subleftcnt {
	background: #FFF url(../images/subcnt.png) repeat-y;
	text-align: center;
	color: #4F4F4F;
	font-size: 12px;
}

.subrightcnt {
	background: #FFF url(../images/subcnt.png) repeat-y;
	text-align: center;
	color: #4F4F4F;
	font-size: 12px;
}

.subrightcnt a:link,.subrightcnt a:visited,.subrightcnt a:active,.subleftcnt a:link,.subleftcnt a:visited,.subleftcnt a:active {
	text-decoration: none;
	color: #4F4F4F;
}

.subrightcnt a:hover,.subleftcnt a:hover {
	text-decoration: none;
	color: #990000;
}

.subrightcntmargin,.subleftcntmargin {
	background: #FFF url(../images/subcnt.png) repeat-y;
	height: 2px;
}

.subrightcntmargin2,.subleftcntmargin2 {
	background: #FFF url(../images/subcnt.png) repeat-y;
	height: 6px;
	background-color: #FFF;
}

.divider {
	background: #405C8C;
	height: 5px;
	color: #FFF;
}

.nav {
	background: #647CA2;
	text-align: center;
	height: 39px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

.nav a:link, .nav a:active, .nav a:visited {
	color: #FFF;
	padding-left: 30px;
	padding-right: 30px;
}

.nav a:hover {
	color: #D1FD00;
}

.bottom {
	height: 17px;
	background: #FFF;
}

.footer {
	background: #DEDEDE;
	height: 17px;
	font-size: 11px;
	text-align: center;
	color: #4F4F4F;
}

.normal {
	font-size: 12px;
	color: #4F4F4F;
}

.normal .a {
	font-size: 12px;
}

.error {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #F00;
}

.error_small {
	text-align: center;
	font-size: 10px;
	font-weight: 700;
	color: #F00;
}

.success {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #4F4F4F;
}

.buttonstyle {
	cursor: pointer;
	border: 1px #7A7A9A solid;
	background-color: #F7F7F7;
	color: #4F4F4F;
	font-weight: bold;
	font-size: 10px;
}

.textstyle {
 	border: 1px #7A7A9A solid;
}

.move{
	cursor: move;
}

.pagination{
	padding: 2px;
	margin: 2px;
	cursor: pointer;
	color: #4F4F4F;
	font-weight: bold;
	font-size: 14px;
	border: 1px #7A7A9A solid;
	background-color: #FFF;
}

.pagination a:link,.pagination a:visited,.pagination a:active{
	color: #4F4F4F;
}

.pagination a:hover{
	color: #990000;
}

.pagination_cur{
	padding: 2px;
	margin: 2px;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	border: 1px #4C6FAA solid;
	background-color: #4C6FAA;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #768EB1;
	font-size: 8pt;
	padding: 3px;
	font-weight: bold;
	color: #FFF;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);	
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
div.tablesorterPager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.first {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input.last {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}